/* @Override */

.breadcrumb-wrapper {
    padding-top: 9px !important;
}

.breadcrumb {
    margin-bottom: 0 !important;

    background-color: inherit !important;

    font-size: 16px !important;
}

.top_nav .navbar-right {
    width: initial !important;
}

.modal.center {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .modal.center:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}

.modal.center > .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

/* tile */

.tile {
    position: relative;

    display: block;
    overflow: hidden;

    height: 118px;
    margin-bottom: 12px;
    padding-bottom: 5px;

    transition: all .3s ease-in-out;

    border: 1px solid #E4E4E4;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #FFF;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
}

.tile .icon {
    /*position: absolute;*/
    /*vertical-align: middle;*/
    z-index: 1;

    width: 47px;
    height: inherit;
    margin: auto;

    color: #BAB8B8;
}

.tile .icon i {
    position: absolute;
    top: 50%;

    height: inherit;
    margin-top: -34px;

    font-size: 60px;
}

.small-tile-stats-font {
    font-size: 40%;
    font-weight: normal;
}


/* Badge Helper */

.badge.badge-primary {
    background-color: #337ab7;
}

.badge.badge-success {
    background-color: #26B99A;
}

.badge.badge-info {
    background-color: #5bc0de;
}

.badge.badge-warning {
    background-color: #f0ad4e;
}

.badge.badge-danger {
    background-color: #d9534f;
}


/* line Helper */

.line {
    overflow: hidden;

    height: 2px;
    margin: 10px 0;

    border-width: 0;
    border-top: 1px solid #e8e8e8;
    background-color: transparent;

    font-size: 0;

    *width: 100%;
}

.line-xs {
    margin: 0;
}

.line-lg {
    margin-top: 15px;
    margin-bottom: 15px;
}

.line-dashed {
    border-style: dashed;
    background: transparent;
}

.no-line {
    border-width: 0;
}


/* Margin Helper */

.m-xs {
    margin: 5px;
}

.m-sm {
    margin: 10px;
}

.m {
    margin: 15px;
}

.m-md {
    margin: 20px;
}

.m-lg {
    margin: 30px;
}

.m-n {
    margin: 0;
}

.m-l-none {
    margin-left: 0;
}

.m-l-xs {
    margin-left: 5px;
}

.m-l-sm {
    margin-left: 10px;
}

.m-l {
    margin-left: 15px;
}

.m-l-md {
    margin-left: 20px;
}

.m-l-lg {
    margin-left: 30px;
}

.m-l-xl {
    margin-left: 40px;
}

.m-l-n-xxs {
    margin-left: -1px;
}

.m-l-n-xs {
    margin-left: -5px;
}

.m-l-n-sm {
    margin-left: -10px;
}

.m-l-n {
    margin-left: -15px;
}

.m-l-n-md {
    margin-left: -20px;
}

.m-l-n-lg {
    margin-left: -30px;
}

.m-l-n-xl {
    margin-left: -40px;
}

.m-t-none {
    margin-top: 0;
}

.m-t-xxs {
    margin-top: 1px;
}

.m-t-xs {
    margin-top: 5px;
}

.m-t-sm {
    margin-top: 10px;
}

.m-t {
    margin-top: 15px;
}

.m-t-md {
    margin-top: 20px;
}

.m-t-lg {
    margin-top: 30px;
}

.m-t-xl {
    margin-top: 40px;
}

.m-t-n-xxs {
    margin-top: -1px;
}

.m-t-n-xs {
    margin-top: -5px;
}

.m-t-n-sm {
    margin-top: -10px;
}

.m-t-n {
    margin-top: -15px;
}

.m-t-n-md {
    margin-top: -20px;
}

.m-t-n-lg {
    margin-top: -30px;
}

.m-t-n-xl {
    margin-top: -40px;
}

.m-r-none {
    margin-right: 0;
}

.m-r-xs {
    margin-right: 5px;
}

.m-r-sm {
    margin-right: 10px;
}

.m-r {
    margin-right: 15px;
}

.m-r-md {
    margin-right: 20px;
}

.m-r-lg {
    margin-right: 30px;
}

.m-r-xl {
    margin-right: 40px;
}

.m-r-n-xxs {
    margin-right: -1px;
}

.m-r-n-xs {
    margin-right: -5px;
}

.m-r-n-sm {
    margin-right: -10px;
}

.m-r-n {
    margin-right: -15px;
}

.m-r-n-md {
    margin-right: -20px;
}

.m-r-n-lg {
    margin-right: -30px;
}

.m-r-n-xl {
    margin-right: -40px;
}

.m-b-none {
    margin-bottom: 0;
}

.m-b-xs {
    margin-bottom: 5px;
}

.m-b-sm {
    margin-bottom: 10px;
}

.m-b {
    margin-bottom: 15px;
}

.m-b-md {
    margin-bottom: 20px;
}

.m-b-lg {
    margin-bottom: 30px;
}

.m-b-xl {
    margin-bottom: 40px;
}

.m-b-n-xxs {
    margin-bottom: -1px;
}

.m-b-n-xs {
    margin-bottom: -5px;
}

.m-b-n-sm {
    margin-bottom: -10px;
}

.m-b-n {
    margin-bottom: -15px;
}

.m-b-n-md {
    margin-bottom: -20px;
}

.m-b-n-lg {
    margin-bottom: -30px;
}

.m-b-n-xl {
    margin-bottom: -40px;
}
